<!DOCTYPE html>
<html lang="en"   xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="admin">
    <meta name="author" content="jcala">

    <title>admin</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="//cdn.bootcss.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
    <link href="/css/sb-admin.min.css" rel="stylesheet">
    <link href="/css/editormd.min.css" rel="stylesheet"/>
    <link href="/css/bootstrap-tagsinput.min.css" rel="stylesheet">
    <link href="//cdn.bootcss.com/morris.js/0.4.3/morris.css" rel="stylesheet">
</head>
<body>

<div id="wrapper">

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">后台管理</a>
        </div>


        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">

                <li><a href="/admin/blog"><i class="fa fa-plus"></i> Add Blog</a></li>
                <li><a href="/admin/blogs"><i class="fa fa-list"></i> Blog List</a></li>
                <li><a href="/admin/project"><i class="fa fa-calendar"></i> Project</a></li>
                <li><a href="/admin/info"><i class="fa fa-user"></i> Info</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right navbar-user">
                <li class="dropdown user-dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>admin<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/logout"><i class="fa fa-power-off"></i> Log Out</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-6 column">
                <center>
                    <form role="form" class="form-inline" name="blogForm">
                        <div class="form-group">
                            <label for="blogTitle" class="text-warning">Title</label>
                            <input type="text" class="form-control" name="title" placeholder="请输入博客标题"/>
                        </div>
                        <div class="form-group">
                            <label for="blogTags" class="text-warning">Tags</label>
                            <input type="text" class="form-control" name="tags" placeholder="输入标签后请点击回车键" data-role="tagsinput"/>
                        </div>
                        <input type="hidden" name="md" />
                        <input type="hidden" name="article" />
                        <div class="form-group">
                            <label for="blogSubmit" class="text-warning">submit</label>
                            <input type="submit" class="form-control jcala-input" id="add-blog" value="save"/>
                        </div>
                    </form>
                </center>
            </div>
            <div class="col-md-6 column">
                    <div class="styled-select">
                            <select id="editormd-theme-select">
                                <option disabled="disabled">select Editor.md themes</option>
                            </select>
                            <select id="editor-area-theme-select">
                                <option disabled="disabled">select editor area themes</option>
                            </select>
                            <select id="preview-area-theme-select">
                                <option disabled="disabled">select preview area themes</option>
                            </select>
                    </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

    <div id="page-wrapper">
        <div class="row">
            <div class="col-md-12 column">
                <div id="markdown-editor">
                    <textarea style="display:none;"></textarea>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /#page-wrapper -->

</div><!-- /#wrapper -->

<!-- JavaScript -->
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="/js/editormd.min.js"></script>
<script src="/js/bootstrap-tagsinput.min.js"></script>
<script src="/js/jcala-md-form.min.js"></script>
</body>
</html>